In [27]:
import pandas as pd
import numpy as np
from re import sub
from decimal import Decimal

In [28]:
airbnbs = pd.read_csv("./Airbnb Datasets/combined_data-2016-2019.csv")
regions = pd.read_csv("./Homeless Datasets/AirbnbRegions1.csv")
demographics = pd.read_csv("./Homeless Datasets/Demographics.csv")
length = pd.read_csv("./Homeless Datasets/Length.csv")
numPeople = pd.read_csv("./Homeless Datasets/NumberofPeople.csv")
prev_location = pd.read_csv("./Homeless Datasets/Previous_Location.csv")
homeless = pd.read_csv("./Homeless Datasets/2007-2014-PIT-Counts-by-State.csv")

In [29]:
#sanity check
airbnbs.head(1)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
0,241032,Stylish Queen Anne Apartment,956883,Maija,Queen Anne,47.636289,-122.371025,Entire home/apt,$85.00,1,207,1/2/2016,4.07,2,346,2016

In [30]:
regions.head(1)

,Region,2019 Persons on Streets/Outside,2019 Persons in Tents,2019 Persons in Buildings,2019 Persons in Car,2019 Persons in RV,2019 Persons in Van,2019 Total Unsheltered Persons,2019 % Of Total,2018 Total Unsheltered Persons,2018 % Of Total,2017 Total Unsheltered Persons,2017 % Of Total
0,East Country,40,16,2,203,35,41,337,6%,393,6%,319,6%

In [31]:
demographics.head(1)

                  Age Count Column N%
0  Less than 18 years    17        1%

In [32]:
length.head(1)

  How long have you been homeless this current time? Count Column N%
0                                     7 days or less    20        2%

In [33]:
numPeople.head(1)

   How many people are in your household including yourself?  Count Count N%
0                                                  1            771      81%

In [34]:
prev_location.head(1)

,"Immediately before you became homeless, where were you living?",Count,Column N%
0,A home owned or rented by you or your partner,311,38%

In [35]:
homeless.head(1)

,State,"Change in Total Homelessness, 2013-2014","Change in Total Homelessness, 2012-2014","Change in Total Homelessness, 2011-2014","Change in Total Homelessness, 2010-2014","Change in Total Homelessness, 2009-2014","Change in Total Homelessness, 2008-2014","Change in Total Homelessness, 2007-2014"
0,AK,-8.3%,-6.7%,-16.2%,-4.2%,-10.4%,8.4%,8.6%

# Airbnb Data Analysis

__In what neighborhood are most Airbnbs located?__

In [36]:
airbnbs["neighbourhood"].value_counts().head(5)

Belltown       715
Broadway       579
Minor          492
Wallingford    472
Fremont        445
Name: neighbourhood, dtype: int64

__In what neighborhoods are Airbnbs the most expensive?__

In [ ]:
#convert prices (strings) to integers
intPrices = []
for price in airbnbs["price"]:
    if isinstance(price, str):
        intPrices.append(Decimal(sub(r'[^\d.]', '', price)))
airbnbs["price"] = intPrices

In [46]:
airbnbs.groupby('neighbourhood')['price'].transform('max')

0        975.00
1        975.00
2        975.00
3        975.00
4        975.00
5        975.00
6        975.00
7        975.00
8        975.00
9        975.00
10       975.00
11       975.00
12          NaN
13       975.00
14       975.00
15          NaN
16       975.00
17       975.00
18       975.00
19       975.00
20          NaN
21       975.00
22       975.00
23       975.00
24       975.00
25       975.00
26       975.00
27       975.00
28       975.00
29       975.00
          ...
12855       999
12856       600
12857       600
12858       970
12859       600
12860       600
12861       600
12862       600
12863      4000
12864       265
12865       283
12866       970
12867       925
12868      1002
12869       999
12870       800
12871       999
12872      1002
12873       999
12874       380
12875      1002
12876      1002
12877      1002
12878      1002
12879      1002
12880      1002
12881      1002
12882      1002
12883       550
12884       500
Name: price, Length: 12885, dtype: object

__In what neighborhoods are Airbnbs the least expensive?__

__What is the minimum price for an Airbnb?__

In [44]:
airbnbs.groupby("neighbourhood")

__Are there any Airbnbs <$50?__

In [26]:
airbnbs[airbnbs["price"] < 50]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
27,3200646,Micro Gypsy Wagon on Queen Anne,4016632,Jean-Marc,Queen Anne,47.639266,-122.374726,Private room,45.00,2,80,1/2/2016,4.38,5,107,2016
37,5062445,Cozy Homebase Close to Downtown,21072725,Chris,Queen Anne,47.634979,-122.358869,Private room,45.00,1,7,12/8/2015,0.90,1,363,2016
53,10310373,"Cozy, cute, Queen Anne living",53050379,Ana,Queen Anne,47.638581,-122.375326,Private room,20.00,1,0,NaN,NaN,1,351,2016
72,4258515,**Be in the MIDDLE OF EVERYTHING!*,841009,Lauren,Ballard,47.667933,-122.378653,Private room,47.00,1,23,10/8/2015,3.07,1,89,2016
79,7011773,Pull out couch in garage,23228606,Elin,Ballard,47.670115,-122.392994,Private room,25.00,1,0,NaN,NaN,3,55,2016
80,2467550,Tiny Ballard House Near Transit,811494,Alexis,Ballard,47.674308,-122.376742,Entire home/apt,40.00,5,0,NaN,NaN,1,48,2016
130,7067082,Ballard Loft-crash pad,25171396,Heidi,NaN,47.669344,-122.386539,Private room,49.00,1,10,9/28/2015,1.68,1,344,2016
147,9374365,Gorgeous Townhome Private Room,6407320,Varun,Ballard,47.673882,-122.374626,Private room,35.00,1,7,12/30/2015,3.96,1,326,2016
149,9331449,Gorgeous Townhome Main Bdrm+Balcony,6407320,Varun,Ballard,47.672283,-122.373162,Private room,45.00,1,2,12/14/2015,2.00,1,326,2016
206,8848403,Centrally located place - Queen Ann,46243391,Taher,Queen Anne,47.640177,-122.346523,Shared room,39.00,1,2,12/25/2015,2.00,2,365,2016
308,7922063,Wallingford living room w/ air bed,35246915,Jaime,NaN,47.668363,-122.338887,Shared room,42.00,1,1,8/22/2015,0.22,2,89,2016
311,9797545,Cozy Room & Sleeping Nook,6645401,Jess,Wallingford,47.661283,-122.326836,Private room,40.00,7,0,NaN,NaN,1,310,2016
313,9294832,Great 1 Bedroom in Greenlake,23827582,Michelle,Wallingford,47.669802,-122.338539,Private room,40.00,2,4,12/18/2015,3.16,1,351,2016
315,7258811,Lake Union Hacker House - 2FL 4p 2L,1243056,Andrew,Wallingford,47.650858,-122.331338,Shared room,40.00,4,0,NaN,NaN,37,365,2016
332,3404557,Lake Union Hacker House - 1FL 4p 2L,1243056,Andrew,Wallingford,47.649708,-122.331015,Shared room,40.00,4,6,8/29/2015,0.33,37,364,2016
334,3424242,Lake Union Hacker House - 3FL 4p 2U,1243056,Andrew,Wallingford,47.650973,-122.330884,Shared room,40.00,4,7,8/31/2015,0.39,37,365,2016
335,7985714,Lake Union Hacker House - 2FL 4p 2U,1243056,Andrew,Wallingford,47.650024,-122.332803,Shared room,40.00,5,1,9/24/2015,0.29,37,365,2016
339,3889299,Lake Union Hacker House - 3FL 2p U,1243056,Andrew,NaN,47.649854,-122.330685,Shared room,40.00,4,2,9/5/2015,0.47,37,365,2016
340,3889330,Lake Union Hacker House - 1FL 4p 1U,1243056,Andrew,NaN,47.651294,-122.331032,Shared room,40.00,4,0,NaN,NaN,37,364,2016
350,3732103,Lake Union Hacker House - 2FL 4p 1U,1243056,Andrew,Wallingford,47.650211,-122.332035,Shared room,40.00,4,6,9/2/2015,0.35,37,365,2016
357,3424114,Lake Union Hacker House - 3FL 4p 1U,1243056,Andrew,Wallingford,47.650207,-122.331104,Shared room,40.00,4,4,8/29/2014,0.23,37,364,2016
362,10249527,Private Room in Wallingford Apt.,46619432,Michael,Wallingford,47.661894,-122.323749,Private room,39.00,1,0,NaN,NaN,1,7,2016
372,3403638,Lake Union Hacker House - 1FL 4p 2U,1243056,Andrew,Wallingford,47.650942,-122.332589,Shared room,40.00,4,6,9/30/2015,0.35,37,364,2016
378,3889280,Lake Union Hacker House - 2FL 2p U,1243056,Andrew,NaN,47.649961,-122.332701,Shared room,40.00,4,0,NaN,NaN,37,365,2016
380,3889050,Lake Union Hacker House - 1FL 2p L,1243056,Andrew,NaN,47.651582,-122.330797,Shared room,40.00,4,3,9/11/2015,0.18,37,364,2016
381,799882,Spacious Basement Green Lake Room,4129144,Lisa,Green Lake,47.670846,-122.337467,Private room,40.00,1,32,12/5/2015,0.85,2,212,2016
389,3732094,Lake Union Hacker House - 3FL 4p 1L,1243056,Andrew,Wallingford,47.650850,-122.332911,Shared room,40.00,4,5,9/29/2015,0.30,37,365,2016
395,3732076,Lake Union Hacker House - 1FL 4p 1L,1243056,Andrew,Wallingford,47.649898,-122.331256,Shared room,40.00,4,7,5/4/2015,0.41,37,364,2016
404,2986056,Lake Union Hacker House - 2FL 4p 1L,1243056,Andrew,Wallingford,47.650994,-122.332345,Shared room,40.00,4,4,11/1/2015,0.28,37,364,2016
414,240920,Quiet Greenlake house w/ balcony,946910,Nathan,Wallingford,47.668176,-122.337371,Private room,45.00,3,15,8/1/2015,0.36,2,308,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12782,37539879,Steps to Downtown ! Farmers Market is near !,283512357,Andy,Minor,47.619090,-122.302590,Shared room,15,1,0,NaN,NaN,24,5,2019
12783,37539999,Top 5 Airbnb: LOCATION ! Just 10 min to Downto...,283512357,Andy,Stevens,47.619340,-122.303140,Shared room,15,1,0,NaN,NaN,24,6,2019
12784,37540005,Seattle city Center ! Farmers Market near ! WOW !,283512357,Andy,Mann,47.619350,-122.302080,Shared room,15,1,0,NaN,NaN,24,6,2019
12785,37540190,West Room in Peaceful Convenient Greenwood Home,27072555,Laura,Fremont,47.661000,-122.342190,Private room,47,30,0,NaN,NaN,3,86,2019
12786,37540253,TOP Location !! Seattle city center ! WOW !,283512357,Andy,Mann,47.620440,-122.300040,Shared room,15,1,0,NaN,NaN,24,7,2019
12787,37540321,Top 5 Airbnb: CENTRAL LOCATION ! Downtown !,283512357,Andy,Minor,47.617870,-122.303480,Shared room,15,1,0,NaN,NaN,24,5,2019
12788,37540595,Top Location ! Seattle Pike Place Market ! WOW !,283512357,Andy,Mann,47.619380,-122.301760,Shared room,15,1,0,NaN,NaN,24,7,2019
12789,37540729,Central Location ! Close to anywhere ! City ce...,283512357,Andy,Mann,47.618510,-122.301190,Shared room,15,1,0,NaN,NaN,24,6,2019
12790,37540740,BEST LOCATION ! UW and Seattle city center !,283512357,Andy,Minor,47.617810,-122.303430,Shared room,15,1,0,NaN,NaN,24,7,2019
12797,37566460,Amazing Location ! Travelers Welcome ! WOW !,283512357,Andy,Mann,47.618140,-122.302170,Shared room,15,1,0,NaN,NaN,24,7,2019
12798,37566563,LOCATION ! Downtown ! Pike place Market nearby !,283512357,Andy,Mann,47.619070,-122.301290,Shared room,15,1,0,NaN,NaN,24,5,2019
12799,37566687,"Top 5 Airbnb: Farmes market, Downtown nearby !...",283512357,Andy,Stevens,47.620750,-122.303450,Shared room,15,1,0,NaN,NaN,24,7,2019
12800,37566803,Top 5 Airbnb: Heart of Seattle ! Amazing locat...,283512357,Andy,Mann,47.618450,-122.301960,Shared room,15,1,0,NaN,NaN,24,7,2019
12802,37566870,Top 5 Airbnb: Travelers welcome ! Good location !,283512357,Andy,Mann,47.618970,-122.301760,Shared room,15,1,0,NaN,NaN,24,7,2019
12803,37566933,Top 5 Airbnb: Washington University so close !,283512357,Andy,Mann,47.619560,-122.301770,Shared room,15,1,0,NaN,NaN,24,7,2019
12804,37566973,Top 5 Airbnb: UW so close ! Students welcome !,283512357,Andy,Mann,47.618370,-122.301120,Shared room,15,1,0,NaN,NaN,24,7,2019
12805,37567192,Top 5 Airbnb: UW so close ! AWESOME LOCATION !,283512357,Andy,Mann,47.619380,-122.301640,Shared room,15,1,0,NaN,NaN,24,7,2019
12806,37567381,LOCATION ! UW and Microsoft ! Amazon Spheres !,283512357,Andy,Minor,47.617970,-122.302940,Shared room,15,1,0,NaN,NaN,24,7,2019
12807,37567912,Seattle city center ! Travelers welcome !,283512357,Andy,Minor,47.618190,-122.303520,Shared room,15,1,0,NaN,NaN,24,4,2019
12808,37567976,Farmers Market & Downtown so close ! Good loca...,283512357,Andy,Minor,47.618060,-122.304010,Shared room,15,1,0,NaN,NaN,24,5,2019
12822,37628240,Slumber Balcony on First Hill\r\n\r\nClose to ...,121952161,Kara,First Hill,47.606370,-122.328340,Private room,45,2,1,8/13/2019,1.00,3,65,2019
12830,37656583,"The Treehouse Room, 12 min drive to downtown",26967583,Dario,Seward Park,47.543800,-122.267970,Private room,36,1,0,NaN,NaN,143,22,2019
12832,37657708,"The Seattle Room, 10 min drive to downtown",26967583,Dario,University District,47.664240,-122.309500,Private room,45,1,0,NaN,NaN,143,29,2019
12833,37658493,The Owl Room-Shared Coed (Left Bottom Bed),26967583,Dario,Montlake,47.643330,-122.304050,Shared room,21,1,0,NaN,NaN,143,65,2019
12834,37662470,Spacious private bedroom 15minutes to Downtown!,73399880,Mary Tiana,Pinehurst,47.720050,-122.321120,Private room,45,1,0,NaN,NaN,2,164,2019
12842,37686242,Cozy private bedroom 15 minutes to Downtown,73399880,Mary Tiana,Pinehurst,47.719610,-122.318590,Private room,45,1,0,NaN,NaN,2,150,2019
12849,37747771,The Urban Garden,48196470,Jeremiah,Meadowbrook,47.709040,-122.291980,Shared room,35,1,1,8/16/2019,1.00,2,36,2019
12850,37750608,Cloud Queen Bedroom 10 min drive to downtown,26967583,Dario,Wallingford,47.661390,-122.323420,Private room,41,1,0,NaN,NaN,143,21,2019
12851,37751315,"Bird's Nest Room, 12 min drive to downtown",26967583,Dario,Seward Park,47.544990,-122.269770,Private room,31,1,0,NaN,NaN,143,19,2019
12858,37772917,"The Greek Island Room, 10 min drive to downtown",26967583,Dario,University District,47.663360,-122.311610,Private room,41,1,0,NaN,NaN,143,17,2019

__In what area is the longest available Airbnb?__

__Which cities have a greater amount of Airbnbs that are vacant?__

__How many Airbnb’s are available in the Seattle area per day (trends by day of the week)?__

__How many are occupied vs. vacant?__

__Which demographic of people do Airbnb’s mostly attract?__

__Which cities have a greater amount of Airbnbs that are vacant?__

# Homeless Data Analysis

__What is the homeless rate in Seattle as of 2019?__

__Has the homeless rate in Seattle increased or decreased over the past few years?__

__What is the demographic of homelessness in the Seattle area?__

__Where do most homeless people usually stay?__

__In what region are the majority of homeless people living on the streets/outside?__

__Which neighborhoods have a higher rate of homeless people?__

# Airbnb and Homeless Data Analysis

__On average, how many Airbnbs are near large amounts of homeless people?__

# Critical Thinking

__How can we decrease the homeless rate in Seattle?__

__How accessible are Airbnbs to homeless people?__

__What factors affect the homeless rate in Seattle?__

__How can we make Airbnbs more open to homeless people?__