In [11]:
import pandas as pd
import numpy as np

In [14]:
airbnbs = pd.read_csv("./Airbnb Datasets/combined_data-2016-2019.csv")
regions = pd.read_csv("./Homeless Datasets/AirbnbRegions1.csv")
demographics = pd.read_csv("./Homeless Datasets/Demographics.csv")
length = pd.read_csv("./Homeless Datasets/Length.csv")
numPeople = pd.read_csv("./Homeless Datasets/NumberofPeople.csv")
prev_location = pd.read_csv("./Homeless Datasets/Previous_Location.csv")
homeless = pd.read_csv("./Homeless Datasets/2007-2014-PIT-Counts-by-State.csv")

In [15]:
#sanity check
airbnbs.head(1)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
0,241032,Stylish Queen Anne Apartment,956883,Maija,Queen Anne,47.636289,-122.371025,Entire home/apt,$85.00,1,207,1/2/2016,4.07,2,346,2016

In [16]:
regions.head(1)

,Region,2019 Persons on Streets/Outside,2019 Persons in Tents,2019 Persons in Buildings,2019 Persons in Car,2019 Persons in RV,2019 Persons in Van,2019 Total Unsheltered Persons,2019 % Of Total,2018 Total Unsheltered Persons,2018 % Of Total,2017 Total Unsheltered Persons,2017 % Of Total
0,East Country,40,16,2,203,35,41,337,6%,393,6%,319,6%

In [17]:
demographics.head(1)

                  Age Count Column N%
0  Less than 18 years    17        1%

In [18]:
length.head(1)

  How long have you been homeless this current time? Count Column N%
0                                     7 days or less    20        2%

In [19]:
numPeople.head(1)

   How many people are in your household including yourself?  Count Count N%
0                                                  1            771      81%

In [20]:
prev_location.head(1)

,"Immediately before you became homeless, where were you living?",Count,Column N%
0,A home owned or rented by you or your partner,311,38%

In [21]:
homeless.head(1)

,State,"Change in Total Homelessness, 2013-2014","Change in Total Homelessness, 2012-2014","Change in Total Homelessness, 2011-2014","Change in Total Homelessness, 2010-2014","Change in Total Homelessness, 2009-2014","Change in Total Homelessness, 2008-2014","Change in Total Homelessness, 2007-2014"
0,AK,-8.3%,-6.7%,-16.2%,-4.2%,-10.4%,8.4%,8.6%

__In what neighborhoods are Airbnbs the most expensive?__

In [22]:
airbnbs[airbnbs["neighbourhood"] == "Queen Anne"]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
0,241032,Stylish Queen Anne Apartment,956883,Maija,Queen Anne,47.636289,-122.371025,Entire home/apt,$85.00,1,207,1/2/2016,4.07,2,346,2016
1,953595,Bright & Airy Queen Anne Apartment,5177328,Andrea,Queen Anne,47.639123,-122.365667,Entire home/apt,$150.00,2,43,12/29/2015,1.48,6,291,2016
2,3308979,New Modern House-Amazing water view,16708587,Jill,Queen Anne,47.629724,-122.369483,Entire home/apt,$975.00,4,20,9/3/2015,1.15,2,220,2016
3,7421966,Queen Anne Chateau,9851441,Emily,Queen Anne,47.638473,-122.369279,Entire home/apt,$100.00,1,0,NaN,NaN,1,143,2016
4,278830,Charming craftsman 3 bdm house,1452570,Emily,Queen Anne,47.632918,-122.372471,Entire home/apt,$450.00,1,38,10/24/2015,0.89,1,365,2016
5,5956968,Private unit in a 1920s mansion,326758,Andrew,Queen Anne,47.630525,-122.366174,Private room,$120.00,1,17,9/28/2015,2.45,1,302,2016
6,1909058,Queen Anne Private Bed and Bath,2497928,Gary And Beth,Queen Anne,47.636605,-122.368519,Private room,$80.00,3,58,12/7/2015,2.46,1,346,2016
7,856550,Tiny Garden cabin on Queen Anne,4016632,Jean-Marc,Queen Anne,47.640161,-122.375856,Private room,$60.00,2,173,1/1/2016,4.73,5,100,2016
8,4948745,Urban Charm || Downtown || Views,2166277,Aliza,Queen Anne,47.632410,-122.357216,Private room,$90.00,3,8,8/17/2015,1.22,1,341,2016
9,2493658,Airy + Bright Queen Anne Apartment,5177328,Andrea,Queen Anne,47.637492,-122.366889,Entire home/apt,$150.00,2,32,12/20/2015,1.55,6,324,2016
10,175576,Private Apartment - Queen Anne Hill,239585,Ray & Eileen,Queen Anne,47.635482,-122.358478,Entire home/apt,$95.00,3,181,11/25/2015,3.33,1,153,2016
11,4454295,Upper Queen Anne Craftsman House,4606439,Nadia,Queen Anne,47.637214,-122.360046,Entire home/apt,$99.00,3,8,12/16/2015,0.98,1,229,2016
13,8889257,Elegance in Historic Queen Anne,25899989,Ellie,Queen Anne,47.629507,-122.367629,Entire home/apt,$165.00,2,3,1/2/2016,3.00,1,337,2016
14,5680462,Stunning 6 bd in THE BEST Location!,22372266,Sarah,Queen Anne,47.639203,-122.365863,Entire home/apt,$461.00,3,18,11/15/2015,2.65,1,327,2016
16,3245876,Park Life in Lower Queen Anne,9465817,Libby,Queen Anne,47.626200,-122.366602,Private room,$66.00,1,84,1/2/2016,4.55,1,364,2016
17,4933447,"Private Garden Suite, Bay View",25417834,Markus And Melissa,Queen Anne,47.640646,-122.372406,Private room,$99.00,2,45,11/6/2015,4.58,1,171,2016
18,7735464,Queen Anne Getaway Near Seattle!,6170760,Sam,Queen Anne,47.639776,-122.372235,Private room,$200.00,1,0,NaN,NaN,1,125,2016
19,6291829,Grand Craftsman Home on Queen Anne,32713558,Kary,Queen Anne,47.636025,-122.358694,Entire home/apt,$700.00,3,5,8/10/2015,0.82,1,359,2016
21,4125779,Cozy Queen Anne Finished Basement,21401856,Nick,Queen Anne,47.636374,-122.361033,Private room,$99.00,1,11,10/18/2015,0.71,1,365,2016
22,8942678,Lovely Queen Anne home,46675077,Susanna,Queen Anne,47.635632,-122.358881,Entire home/apt,$450.00,4,1,12/1/2015,0.86,1,53,2016
23,10106055,"Cozy Lower Level, Upper Queen Anne",51860756,Maggie & Alex,Queen Anne,47.633394,-122.371920,Private room,$75.00,1,0,NaN,NaN,1,365,2016
24,6362362,Charming home on Queen Anne,33147763,Tracy,Queen Anne,47.638517,-122.369581,Entire home/apt,$600.00,3,1,7/20/2015,0.18,1,212,2016
25,3544550,VIEW-Monthly Rental Available,16708587,Jill,Queen Anne,47.631397,-122.367767,Entire home/apt,$450.00,4,8,9/2/2015,1.30,2,293,2016
26,9025039,Cute Bungalow-Close to Everything!,68155,Lori,Queen Anne,47.638752,-122.367973,Entire home/apt,$150.00,1,0,NaN,NaN,1,49,2016
27,3200646,Micro Gypsy Wagon on Queen Anne,4016632,Jean-Marc,Queen Anne,47.639266,-122.374726,Private room,$45.00,2,80,1/2/2016,4.38,5,107,2016
28,8859380,STUNNING VIEW of Puget Sound,3792761,Kimberly,Queen Anne,47.629907,-122.368948,Entire home/apt,$300.00,2,6,1/2/2016,2.47,1,356,2016
29,4520099,Open Airy Queen Anne Condo,6184895,Lana,Queen Anne,47.639816,-122.374338,Entire home/apt,$80.00,2,4,7/25/2015,0.33,1,305,2016
30,2481869,Airy + Bright Queen Anne Cottage,5177328,Andrea,Queen Anne,47.639008,-122.365320,Entire home/apt,$175.00,2,38,10/11/2015,1.86,6,323,2016
31,1110749,Queen Anne 3 bed near everything,5325329,Blair,Queen Anne,47.635085,-122.364443,Entire home/apt,$325.00,2,68,12/21/2015,2.18,8,162,2016
32,5978498,1914 Stunner View Ocean Mountain,31037494,Silvia,Queen Anne,47.640633,-122.372709,Entire home/apt,$175.00,4,8,12/3/2015,1.31,1,213,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,186328,"Beautiful Update Craftsman 3BR, 3BA",895223,Andrew,Queen Anne,47.644131,-122.356299,Entire home/apt,$250.00,3,1,11/8/2013,0.04,1,331,2016
483,7492877,Charming Home close to Fremont,39243231,Meg,Queen Anne,47.645981,-122.351244,Entire home/apt,$180.00,1,7,10/11/2015,1.30,1,352,2016
484,6576228,2BD in Peaceful Upper Queen Anne,34397733,Hannah,Queen Anne,47.652760,-122.368784,Entire home/apt,$179.00,1,6,11/28/2015,0.88,1,63,2016
485,241016,Scandinavian Queen Anne Home,956883,Maija,Queen Anne,47.643286,-122.375819,Entire home/apt,$115.00,2,17,12/26/2015,0.67,2,354,2016
486,6968101,Downtown Seattle + Mountain Views,15792177,Andrew,Queen Anne,47.641529,-122.356709,Entire home/apt,$140.00,2,8,11/29/2015,1.24,1,187,2016
487,5648564,Queen Anne 2 Bdrm/1.5 Ba/1000 sq ft,24091986,Greg,Queen Anne,47.647257,-122.359319,Entire home/apt,$150.00,5,2,9/3/2015,0.41,1,337,2016
488,4116645,Peaceful One Bedroom Apartment,21265939,Faith,Queen Anne,47.647216,-122.356697,Entire home/apt,$70.00,1,20,11/3/2015,1.36,1,334,2016
489,2419879,3 bedroom Queen Anne Home,8539521,Sara And Carsten,Queen Anne,47.646883,-122.354231,Entire home/apt,$300.00,3,6,8/2/2015,0.32,1,331,2016
490,6425735,"Queen Anne, Seattle",12322681,Irene,Queen Anne,47.647193,-122.358906,Private room,$99.00,1,1,6/9/2015,0.14,1,189,2016
491,8105351,Charming home on Queen Anne Hill,23583849,Conor,Queen Anne,47.644787,-122.351314,Entire home/apt,$89.00,1,12,1/1/2016,2.86,1,113,2016
492,9136499,great location interbay,3761409,Julianne,Queen Anne,47.645351,-122.375194,Private room,$100.00,1,0,NaN,NaN,1,42,2016
493,3639023,Quiet & beautify room in Queen Anne,18362115,Rahul,Queen Anne,47.644800,-122.373931,Private room,$84.00,2,8,10/25/2015,1.18,1,365,2016
494,6724599,Charming Daylight Basement of DINKS,18394291,Dawn,Queen Anne,47.640186,-122.366376,Entire home/apt,$97.00,4,13,10/22/2015,1.93,1,63,2016
495,4211629,"Spectacular Views, Supersized Suite",5707983,Kimberly,Queen Anne,47.649367,-122.372247,Entire home/apt,$116.00,3,7,7/13/2015,0.51,1,116,2016
496,7151924,Queen Breeze B&B,361961,Breeze,Queen Anne,47.643150,-122.358952,Entire home/apt,$150.00,2,9,10/19/2015,1.84,1,359,2016
497,704764,Olympics View Seattle QA Craftsman,3620313,Catherine,Queen Anne,47.642152,-122.369593,Entire home/apt,$110.00,1,112,12/4/2015,3.02,1,166,2016
498,1796217,3 Bedroom 3 Bath Ship Canal Oasis,74305,Darik,Queen Anne,47.647837,-122.356169,Entire home/apt,$265.00,3,12,11/23/2015,0.60,6,202,2016
499,4661812,Gorgeous Seattle Apt Near Downtown!,5038407,Rebecca,Queen Anne,47.644021,-122.375572,Entire home/apt,$115.00,3,10,12/13/2015,1.39,1,355,2016
500,8811945,Queen Anne Bungalow - Weekly Rental,43606065,Maureen,Queen Anne,47.642662,-122.371084,Entire home/apt,$100.00,6,0,NaN,NaN,1,0,2016
566,9409233,Custom Houseboat -Heart of the City,48789316,Rodney,Queen Anne,47.637301,-122.340157,Entire home/apt,$195.00,2,0,NaN,NaN,1,365,2016
569,6629132,Pvt suite in beautiful townhome,34700838,Dan,Queen Anne,47.630583,-122.343449,Private room,$122.00,1,11,9/1/2015,1.62,1,365,2016
570,5489676,2 BR Apartment near Seattle Center,28304516,Travis,Queen Anne,47.628202,-122.343516,Entire home/apt,$170.00,5,2,6/3/2015,0.26,2,0,2016
1911,6958603,Rooftop Room with a View !,4016632,Jean-Marc,Queen Anne,47.639723,-122.376422,Private room,$53.00,2,26,1/2/2016,4.36,5,105,2016
3144,8578023,Classic Queen Anne Condo,14549389,Lucy,Queen Anne,47.627468,-122.356931,Entire home/apt,$100.00,1,9,12/20/2015,3.18,1,92,2016
3178,6956301,Upper Queen Anne Cozy 1 Bedroom,36383359,Jake,Queen Anne,47.631101,-122.356687,Entire home/apt,$120.00,1,5,8/16/2015,0.82,1,170,2016
3180,8373664,Bright and Sunny 1 bedroom Apt.,23792018,Roda,Queen Anne,47.627768,-122.348106,Entire home/apt,$115.00,2,4,10/17/2015,1.13,5,355,2016
3188,9370738,Sunlit and Roomy,23792018,Roda,Queen Anne,47.627858,-122.348103,Entire home/apt,$89.00,2,0,NaN,NaN,5,264,2016
3191,6240501,Cozy Bedroom near Seattle Center,28304516,Travis,Queen Anne,47.627210,-122.345157,Private room,$72.00,1,40,12/26/2015,4.98,2,11,2016
3193,8967776,"Updated, Convenient Queen Anne Apt",46865668,Megan,Queen Anne,47.627927,-122.345116,Entire home/apt,$80.00,1,9,12/13/2015,3.75,1,52,2016
3817,10208623,Large Lakefront Apartment,14703116,Gil,Queen Anne,47.641186,-122.342085,Entire home/apt,$87.00,1,0,NaN,NaN,1,7,2016